<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.management.backend.api.mybatis.mapper.AmazonProductStandardNoMapper" >
  <resultMap id="BaseResultMap" type="com.management.backend.api.mybatis.model.AmazonProductStandardNo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="standard_product_id" property="standardProductId" jdbcType="VARCHAR" />
    <result column="standard_type" property="standardType" jdbcType="VARCHAR" />
    <result column="used" property="used" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, standard_product_id, standard_type, used
  </sql>

  <select id="getNewNotUsedNo" resultMap="BaseResultMap"  >
    select
    <include refid="Base_Column_List" />
    from amazon_product_standard_no
    where used='false' order by id limit 1
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.management.backend.api.mybatis.model.AmazonProductStandardNoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from amazon_product_standard_no
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from amazon_product_standard_no
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from amazon_product_standard_no
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.management.backend.api.mybatis.model.AmazonProductStandardNoExample" >
    delete from amazon_product_standard_no
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.management.backend.api.mybatis.model.AmazonProductStandardNo" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into amazon_product_standard_no (standard_product_id, standard_type, 
      used)
    values (#{standardProductId,jdbcType=VARCHAR}, #{standardType,jdbcType=VARCHAR}, 
      #{used,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.management.backend.api.mybatis.model.AmazonProductStandardNo" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into amazon_product_standard_no
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="standardProductId != null" >
        standard_product_id,
      </if>
      <if test="standardType != null" >
        standard_type,
      </if>
      <if test="used != null" >
        used,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="standardProductId != null" >
        #{standardProductId,jdbcType=VARCHAR},
      </if>
      <if test="standardType != null" >
        #{standardType,jdbcType=VARCHAR},
      </if>
      <if test="used != null" >
        #{used,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.management.backend.api.mybatis.model.AmazonProductStandardNoExample" resultType="java.lang.Integer" >
    select count(*) from amazon_product_standard_no
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update amazon_product_standard_no
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.standardProductId != null" >
        standard_product_id = #{record.standardProductId,jdbcType=VARCHAR},
      </if>
      <if test="record.standardType != null" >
        standard_type = #{record.standardType,jdbcType=VARCHAR},
      </if>
      <if test="record.used != null" >
        used = #{record.used,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update amazon_product_standard_no
    set id = #{record.id,jdbcType=INTEGER},
      standard_product_id = #{record.standardProductId,jdbcType=VARCHAR},
      standard_type = #{record.standardType,jdbcType=VARCHAR},
      used = #{record.used,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.management.backend.api.mybatis.model.AmazonProductStandardNo" >
    update amazon_product_standard_no
    <set >
      <if test="standardProductId != null" >
        standard_product_id = #{standardProductId,jdbcType=VARCHAR},
      </if>
      <if test="standardType != null" >
        standard_type = #{standardType,jdbcType=VARCHAR},
      </if>
      <if test="used != null" >
        used = #{used,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.management.backend.api.mybatis.model.AmazonProductStandardNo" >
    update amazon_product_standard_no
    set standard_product_id = #{standardProductId,jdbcType=VARCHAR},
      standard_type = #{standardType,jdbcType=VARCHAR},
      used = #{used,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>