<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.management.backend.api.mybatis.mapper.ProductSimpleMapper">
  <resultMap id="BaseResultMap" type="com.management.backend.api.mybatis.model.ProductSimple">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="cost" jdbcType="REAL" property="cost" />
    <result column="shipping_cost" jdbcType="REAL" property="shippingCost" />
    <result column="englishProductTile" jdbcType="VARCHAR" property="productTitle" />
    <result column="picture_location" jdbcType="VARCHAR" property="picture" />
  </resultMap>

  <select id="listRecentlyProducts" parameterType="java.lang.String" resultType="java.lang.Integer">
    select id
    from product where creat_time &gt; #{curDateStr,jdbcType=TIMESTAMP} order by id desc
  </select>
  <select id="getSimpleProduct" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    a.id, a.cost, a.shipping_cost, a.englishProductTile,b.picture_location
    from product a  left join (select * from product_picture group by product_id) as b on a.id=b.product_id order by a.creat_time desc,a.id desc
  </select>
  <!--<select id="getSimpleProduct" parameterType="java.lang.Integer" resultMap="BaseResultMapProductSimple">
    select
    a.id, a.cost, a.shipping_cost, a.englishProductTile,b.picture_location
    from product a left join product_picture b on a.id=b.product_id
  </select>-->
  <select id="countProduct" resultType="Integer">

    select count(id) from product
  </select>

</mapper>