<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.management.backend.api.mybatis.mapper.UserSimpleMapper">
  <resultMap id="BaseResultMap" type="com.management.backend.api.controller.entity.UserSimple">
       <result column="login_name" jdbcType="VARCHAR" property="name" />
  </resultMap>
  <select id="selectAllUserSimple" resultMap="BaseResultMap">

    select login_name from user
  </select>

</mapper>